body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

main {
    background-color: #E8EEFF;
    margin: 64px 158px 0;
    padding: 96px;
    gap: 64px;
    text-align: center;
}

h1 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 72px;
    line-height: 80px;
    text-align: center;
}

h1 span {
    color: blue;
}

h1 u {
    color: blueviolet;
}

#layout-1 {
    width: 1024px;
    height: 244px;
    margin: 0 auto;
}

#layout-1 p {
    color: #535862;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 768px;
    height: 60px;
    margin: 0 auto;
}

#layout-2 {
    margin-top: 90px;
    bottom: 2px solid #D5D7DA;
    border-radius: 32px;
    padding: 4px;
}

#layout-3 div {
    display: inline-block;
    width: 449.33px;
    height: 210px;
    border-radius: 8px;
    padding: 16px;
    vertical-align: middle;
    background-color: #ffffff;
}

#layout-3 div svg {
    border: 1px solid #E9EAEB;
    background-color: #ffffff;
}

#layout-3 div h2 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

#layout-3 div p {
    color: #535862;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

#layout-4 {
    width: 1216px;
    height: 400px;
}

#layout-4 h2 {
    color: #FFFFFF;
    font-weight: 600;
}

#layout-4 p {
    font-weight: 400;
    color: #E9D7FE;
}

#btn1 {
    width: 128px;
    height: 48px;
    border: 1px solid #D5D7DA;
    background-color: #FFFFFF;
    border-radius: 8px;
}

#btn2 {
    width: 129px;
    height: 48px;
    border: 2px solid #ffffff;
    background-color: #7F56D9;
    color: #FFFFFF;
    border-radius: 8px;
}

#layout-4 div {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
}

#div1 {
    width: 736px;
    height: 318px;
}