body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 96px;
    background-color: #FFAEAF;
    margin: 96px;
}

h2 {
    color: #ED00A6;
    font-weight: 600;
    font-size: smaller;
    text-align: center;
}

h1 {
    text-align: center;
    font-weight: 600;
    color: #181D27;
}

p {
    text-align: center;
    color: #535862;
    font-weight: 400;
}

#layout {
    background-color: white;
    padding: 50px;
}

svg {
    border-radius: 16px;
    height: 462px;
    width: 600px;
}
   
#top {
    text-align: start;
}

#right {
    text-align: right;
}

#bottom {
    text-align: start;
}